header{
    position: relative;
    min-height: 100vh;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-image: url(../img/ceu.jpg);
    background-repeat: no-repeat;       /* impede que a imagem se repita */
    background-size: cover;             /* faz a imagem cobrir toda a área */
    background-position: center center; /* centraliza a imagem */

    .container{
        z-index: 1;
        position: relative;
    }

    .bg-container{
        background: linear-gradient(rgba(35, 198, 223, 0.6), rgba(16, 103, 166, 0.3));
        padding: 35px;
        box-shadow: 0 8px 30px rgba(0, 0, 0, 0.5);
        border-radius: 10px;
    }
}

#particles-js{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
}

.btn-gradient{
    background: linear-gradient(135deg, #0014ca, #6f39c6);
    border: none;
    color: #fff;
    transition: all 0.3s;

    &:hover{
        opacity: 0.85;
    }
}

section{
    padding: 80px 0;
}

body{
    scroll-behavior: smooth;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.bg-gradient-purple{
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    color: #fff;
}

.bg-gradient-pink{
    background: linear-gradient(135deg, #b204f7, #62007a);
    color: #fff;
}

.card-hover{
    transition: transform 0.3s, box-shadow 0.3s;
    

    &:hover{
        transform: translateY(-10px);
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
    }
}

.carousel-item img{
    height: 400px;
    object-fit: cover;
    border-radius: 10px;
}

.navbar {
  background: #222;
  font: #fff;
}

.custom-caption {
  background: linear-gradient(135deg, rgba(124, 124, 123, 0.85), rgba(113, 229, 250, 0.85));
  color: black;
}

footer {
  background: #222;
  color: #fff;
  padding: 15px 40px;
  position: relative; /* Necessário para o posicionamento dos ícones */
  text-align: center; /* Centraliza o texto dentro do footer */
}

/* Container principal */
.footer-container {
  position: relative;
}

/* Texto centralizado */
.footer-container p {
  margin: 0;
}

/* Redes sociais fixadas à direita */
.redes-sociais {
  position: absolute;
  right: 40px;   /* distância da borda direita */
  top: 50%;
  transform: translateY(-50%); /* centraliza verticalmente */
  display: flex;
  gap: 15px;
}

/* Estilo dos ícones */
.redes-sociais img {
  width: 40px;
  height: 40px;
  transition: transform 0.2s ease;
}

.redes-sociais img:hover {
  transform: scale(1.1);
}
